src/main/resources/mybatis/generator.properties
/src/main/resources/mybatis/generator.properties
/target/
.idea/*
/.idea
.project
*.iml
/logs/reader-api.*
*.DS_Store
.classpath
logs/*
logs-testing/*
@log.dir@
.settings/**
/.settings
/.classpath
.classpath
.settings/*
/target/
.classpath
.settings/
/log.dir_IS_UNDEFINED
/hsql
/temp
/logs
